*{margin: 0; padding: 0;}

body {
    background-image: url("../img/bluegif.gif");
    background-repeat: no-repeat; 
    background-size: 1600px 920px; 
    
}

.menu {
    list-style: none;
    border: 1px solid #c3d1d9;
    background-image: linear-gradient(to right, #f0ab89, #fff385, #c4f0a3, #c2ede8, #b5c8eb, #eec0fa);
    float: left;
    
}

.menu li {
    position: relative;
    padding: 2px;
    margin: 2px;
    float: left;
    border-right: 2px solid antiquewhite;
    
}

.menu li a {
    color: white;
    text-shadow: 1px 1px grey; 
    padding: 4.06px 4.07px; 
    display: block;
    font-family: 'Bebas Neue', cursive;
    font-size: 17.85px;

}

.borda {
    border: 10px solid white;
    margin: auto;
    border-radius: 50px;
    width: 400px;
   
}

.funcqua {
    margin: auto;
    border-radius: 50px;
    width: 560px;
    height: auto;
    display: inside-block;
    

}

.videos {
    border: 10px solid white;
    margin: auto;
    border-radius: 50px;
    width: 560px;
    height: 350px;
    display: inside-block;
    overflow: auto;
    

}

    h1 {    
    color: #bf8ad4;
    font-size: 42px;
    font-family: 'Pacifico', cursive;
    text-shadow: 2px 2px antiquewhite;
    text-align: center;
    
}

    h2 {
    color: #bf8ad4;
    font-size: 40px;
    font-family: 'Amatic SC', cursive;
    text-shadow: 2px 2px antiquewhite;
    text-align: center;
        
}




